<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LOGIN || Task Manager</title>
    <link rel="stylesheet" href="/static/signup.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<br><br><br><br><br>
<div class="login-block block">
<form action="" method="post">
    {% csrf_token %}
    {% if err %}
        <div class="alert alert-danger">
            {{ err }}
        </div>
    {% endif %}
    <label>UserName : </label>
    <input type=text name="username" placeholder="UserName" required><br>
    <label>Password : </label>
    <input type=password name="pswd" placeholder="Password" required><br>
    <input type="submit" name="login" value="LOGIN"><br>
</form>
    <p id="link1"><a href="{% url 'register' %}">New User ? Register here</a></p>
</div>
<script src="/static/js/jquery-3.3.1.slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
