<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP || Task Manager</title>
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
<br><br><br><br><br>
<div class="block">
<form action="" method="post">
    {%  csrf_token %}
    <!--{ form.as_p }}-->
    <label>UserName : </label>
    <input type="text" name="username" placeholder="Choose a User Name" pattern="[A-Za-z0-9]+" title="Only Letters and Numbers are allowed" required><br>
    <label>Password : </label>
    <input type="password" name="pswd" placeholder="Choose a Password" required><br>
    <label>Confirm Password : </label>
    <input type="password" name="pswd2" placeholder="Confirm Password" required><br>
    {% if err %}
        <div style="font-size: 14px; padding-bottom: 14px; color: #ff0000;">
            <br>{{ err }}<br>
        </div>
    {% endif %}
    <label>First Name : </label><br>
    <input type="text" name="first_name" placeholder="Enter your First Name" pattern="[A-Za-z]+" title="Only Letters and Numbers are allowed" required><br>
    <label>Last Name : </label><br>
    <input type="text" name="last_name" placeholder="Enter your Last Name" pattern="[A-Za-z]+" title="Only Letters and Numbers are allowed" required><br>
    <label>E-mail ID : </label><br>
    <input type="text" name="email" placeholder="Enter your E-mail ID" required><br>
    <input type="submit" name="signup" value="SIGN UP"><br>
</form>
    <p id="link1"><a href="#">Already Have an Account ? Login here</a></p>
</div>
</body>
</html>
