{% extends "base.html" %}
{% block head_title %}
    {{ team_name }} || {{ block.super }}
{% endblock head_title %}
{% block content %}
<script type="text/javascript">
    var no = 0;
    function setAttributes(element,attr){
        for(var key in attr){
                element.setAttribute(key, attr[key]);
        }
    }
    function remove(x) {
        var user = document.getElementById('member'+x.toString());
        user.remove();
    }
    function adduser() {
        var member = 'member'+no.toString();
        var user = document.getElementById('adduser');
        var div = document.createElement('div');
        setAttributes(div,{'class':'row','id':member,'style':'margin:15px 0px;'});
        var divinput = document.createElement('div');
        divinput.setAttribute('class','col-md-11');
        var input = document.createElement('input');
        setAttributes(input,{'type':'text','class':'form-control','name':'member'+no.toString(),'id':'member-'+no.toString(),'placeholder':'Name of User','required':true,'readonly':true});
        divinput.appendChild(input);
        div.appendChild(divinput);
        var divBtn = document.createElement('div');
        divBtn.setAttribute('class','col-md-1');
        var remove = document.createElement('button');
        setAttributes(remove,{'class':'btn btn-danger text-light','id':'dec-'+no.toString(),'onclick':'remove('+ no.toString()+' )','disabled' : 'disabled'});
        var i = document.createElement('i');
        i.setAttribute('class','fa fa-minus');
        remove.appendChild(i);
        divBtn.appendChild(remove);
        div.appendChild(divBtn);
        user.appendChild(div);
        no=no+1;
    }
    function getno() {
        document.getElementById('noOfuser').value = no.toString();
    }
    function edit(){
        document.getElementById('team-name').readOnly = false;
        for(var n=0;n<no;n++){
            document.getElementById('member-'+n.toString()).readOnly = false;
            document.getElementById('dec-'+n.toString()).disabled = false;
        }
        document.getElementById('creator').hidden = true;
        document.getElementById('add').disabled = false;
        document.getElementById('save').disabled = false;
    }
</script>
    <div class="col-md-10 col px-5 pl-md-2 pt-2 main mx-auto h4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
                <button class="btn btn-lg btn-secondary btn-block my-4 py-3" disabled>Team</button>
            </div>
            {% if invalid_members %}
                <div class="col-md-10 offset-md-1">
                    <div class="alert alert-danger">
                        {% for x in invalid_members %}
                            {{ x }},
                        {% endfor %} doesnot exist
                    </div>
                </div>
            {% endif %}
            {% if err %}
                <div class="col-md-10 offset-md-1">
                    <div class="alert alert-danger">
                        {{ err }}
                    </div>
                </div>
            {% endif %}
            <div class="col-md-10 offset-md-1">
            <form action="" method="post" onsubmit="getno()">
                {% csrf_token %}
                <div class="card shadow my-4">
                <div class="card-header text-light bg-dark">
                    Name of Team :
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" name="team_name" id="team-name" value="{{ team_name }}" placeholder="Name of the Team" readonly required>
                </div>
                </div>
                <div class="card shadow my-4" id="creator">
                <div class="card-header text-light bg-dark">
                    Team Creator :
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" name="team_creator" value="{{ creator }}" readonly>
                </div>
                </div>
                <div class="card shadow my-4">
                    <div class="card-header text-light bg-dark">
                        Members :
                    </div>
                    <div class="card-body">
                        <div id="adduser">
                            {% for member in members %}
                                <script>
                                    adduser();
                                    document.getElementById('member-'+(no-1).toString()).value = "{{ member }}";
                                </script>
                            {% endfor %}
                        </div>
                        <input type="text" name="no" id="noOfuser" hidden>
                        <div class="col-md-1 offset-md-5">
                            <div class="btn btn-success text-light my-1" onclick="adduser()" id="add" disabled><i class="fa fa-plus"></i></div>
                        </div>
                        <div class="col-md-2 offset-md-10">
                            <input class="btn btn-block btn-success" type="submit" value="Save" id="save" disabled>
                        </div>
                    </div>
                </div>
            </form>
            {% if editable %}
                <script>
                    edit()
                </script>
            {% endif %}
            </div>
    </div>
    </div>
{% endblock content %}